
<div>
    <h1> Articles! </h1>
</div>
<ul>
  {{#each item}}
  	<li>
  		<p><span class="label">Title:</span> {{this.title}}</p>
     
        <button data-id="{{this.id}}" class="del-item">Delete</button>

        <a href="http://www.reddit.com{{this.link}}"class="button">View Article</a>
  	</li>
  {{/each}}
</ul>