<div class="status">
    <div class="card-header bg-info text-white mt-3"><h1>Scrape Status:</h1></div>
    <div class="card-body bg-warning text-info">
        <h3 class="card-title">Scrape request sent.</h3>
        <a href="/" class="button btn btn-primary">View saved articles</a>
    </div>
</div>